body { 
  background: lightblue url("../images/ancient-art-cosmos-262786.jpg") no-repeat fixed center; 
  color: #ffffff;
}

.spacing-for-fixed-nav {
  height: 100px;
}

.content {
  background-color: rgba(0, 0, 0, 0.4);
  padding: 20px 30px;
  border-radius: 20px;
  min-height: 80vh;
}

a, strong {
  color: rgb(255, 193, 7)
}

a:hover {
  color: rgb(167, 126, 4);
  text-decoration: none;
}

form input, form textarea{
  background-color: rgba(255, 255, 255, 0.4);
  font-weight: bold;
  font-size: larger;
}


.form-group input {
  display: none;
}

.form-group .field {
  width: 100%;
}

.btn-warning:hover,
.nav-link:hover{
  font-weight: bold;
}